:root {
    --bs-primary: #332c54;
    --bs-primary-rgb: 51, 44, 84;
    --bs-secondary: #d61c4e;
    --bs-secondary-rgb: 214, 28, 78;
    --bs-info: #332c54;
    --bs-info-rgb: 51, 44, 84;
}

